@import url("normalize.css");

.calculator {
	width: 300px;
	border: 1px solid red;
	margin: 20px auto;
}

.window {
	display: grid;
	place-items: center	;
}

.window input {
	margin: 20px 10px;
	text-align: right;
	font-size: 20px;
	height: 40px;
	width: 260px;
}


.keyboard {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 0 10px 10px;
}

.button {
	margin: 5px;
}

.button--operator {
	background-color: red;
}